@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

@import './variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $lightest-grey;
  color: $darkest-grey;
}

#app {
  margin-top: 60px;
}

button {
  margin-top: 0.5em;
  border: solid 1px $darkest-grey;
  border-radius: 2px;
  background-color: $lightest-grey; 
}