@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

@import './variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $lightest-grey;
  color: $darkest-grey;
}

#app {
  margin-top: 60px;
}

button {
  margin: 1em 0.5em;
  border: solid 1px $spanish-bistre;
  border-radius: 2px;
  background-color: $lightest-grey; 
}

select {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  border: solid 1px $spanish-bistre;
  background-color: $lightest-grey;
  color: $darkest-grey;
  &:focus {
    outline: none;
  }
}

option {
  background-color: $lightest-grey;
  color: $darkest-grey;
}